{% extends 'Base.html' %}

{% block title %}Movie List{% endblock title %}
{% block body %}

    <form method="get">
        {{form.as_p}}
        <input type="submit" value="search">
    </form>


        {% for i in movie_list %}
            <ul><h3><a href="/movie/show/{{i.id}}/">{{ i.title }}</a> genre:{{i.genre}} rate:{{i.rate|floatformat:2 }} imdb rate :{{i.imdb_rate}}</h3></ul>
        {% endfor %}

        <h3><a href=" {% url 'movie-create' %}">dont see your movie ? create it !</a></h3>

{% endblock body %}