<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <nav>
            {% if user.is_authenticated %}
            <h3>hello {{request.user}}</h3>
            <ul>
                <li><a href="{% url 'movie:list' %}">Home</a></li>
                <li><a href="{% url 'profile:logout' %}">Logout</a></li>
                <li><a href="{% url 'profile:profile' %}">Profile</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <li><a href="{% url 'account_signup' %}">singup</a></li>
                {% endif %}

            </ul>
        </nav>

        {% block body %}{% endblock body %}
        
        <script src="" async defer></script>
    </body>
</html>
